###########################################################################
#
# snmpd.conf
#
#   - created by the snmpconf configuration program
#
###########################################################################
# SECTION: Access Control Setup
#
#   This section defines who is allowed to talk to your running
#   snmp agent.

# rocommunity: a SNMPv1/SNMPv2c read-only access community name
#   arguments:  community [default|hostname|network/bits] [oid]

# Map '{{ snmpd_v2_snmpcommunity }}' community to the 'allThings' user
#         sec.name   source    community
com2sec   allThings  default   {{ snmpd_v2_snmpcommunity }}

# Map ‘{{ snmpd_v2_snmpcommunity }}' to 'allGroup; for SNMPD Version 2c
#               sec.model       sec.name
group allGroup  v2c             allThings

# Define 'allView', which includes everything under .1 (which is everything)
#               incl/excl       subtree
view    allView included        .1

# Give 'allGroup' read access to objects in the view 'allView'
#       group           context model   level   prefix  read    write   notify
access  allGroup        ""      any     noauth  exact   allView none    none

{% if snmpd_v2_pollers is defined %}
    {% for item in snmpd_v2_pollers %}
rocommunity  {{ snmpd_v2_snmpcommunity }} {{ item }}
    {% endfor %}
{% endif %}
{% if snmpd_v2_pollers is not defined %}
rocommunity  {{ snmpd_v2_snmpcommunity }}
{% endif %}

# Allow Systems Management Data Engine SNMP to connect to snmpd using SMUX
smuxpeer .1.3.6.1.4.1.674.10892.1